<div class="container-fluid features">
    <div class="left-container">
        <h1 >
            Very busy.<br/>
            Have to create weekly status report?
        </h1>
        <p>Here we come to save u from creating WSR . Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, nam! </p>
        <button class="more_btn">Know more <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    </div>
    <div class="right-container">
        <img src="../../assets/sprint.png" alt="">
    </div>
</div>
<div class="benefits container-fluid">
This is the benefits
</div>
